# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Node modules (React Native)
mobile/node_modules/
mobile/.expo/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Python cache (FastAPI)
backend/__pycache__/
*.pyc

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# VSCode
.vscode/

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
